@model NimbusACAD.Models.DB.Negocio_Documento

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <hr />
        <p><b>Nome do documento: </b>@Html.DisplayFor(model => model.Documento_Nome)</p>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Documento_ID }) | 
    @Html.ActionLink("Deletar", "Deletar", new { id = Model.Documento_ID})
</p>
