body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#links ul li a {
    color: #ffffff;
}

#links ul li :hover{
    background-color:#6ebc9d;
}

#dropd ul{
    background-color:#6ebc9d;
}

#dropd ul li a:hover{
    background-color:#ff7800;
}

#links ul li a{
    background-color:#ff7800;
}

#dropd ul li a {
    background-color:#6ebc9d;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}