@{
    ViewBag.Title = "Sobre";
}

<hgroup>
    <h2>Sobre</h2>
</hgroup>
<div style="padding-top:20px;" class="row">
    <div class="col-md-4">
        <dl>
            <h4>Quando este ERP se faz necessário?</h4>
            <dd>
                Um ambiente sistematizado leva vantagem em tempo e credibilidade, em um ambiente
                acadêmico que não possui grandes ferramentas de organização, com processos manuais e arcaicos,
                faz­-se necessário do bom uso da tecnologia. Observou­-se que um sistema ERP é algo que
                trará inúmeros benefícios e pode ser implementado em fases, o que faz a transição dos
                processos ser de fácil entendimento para os usuários.
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <h4>Porque usamos o modelo MVC?</h4>
            <dd>
                O MVC é uma ferramenta símbolo de organização que também é o foco do sistema Nimbus ACAD.
                Construído em módulos, cujo foco é a organização e
                a comunicação entre os itens que são indispensáveis em uma instituição.
                Uma arquitetura usada para desenvolver aplicações web em uma plataforma ASP.NET
                diferente da tradicional, aplicações web desenvolvidas com esta ferramenta são mais amigáveis.
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <h4>Nosso objetivo</h4>
            <dd>
                Trabalhando no sistema, podemos mapear as possíveis melhorias no ambiente físico onde o
                sistema será utilizado como; controle do lixo eletrônico, backups do sistema, limpeza do
                servidor, comunicação entre os departamentos da escola, maior produtividade entre professor e
                alunos (Já que tarefas e mensagens podem ser acessadas online, fora do horário letivo e no
                conforto de suas casas).
            </dd>
        </dl>
    </div>
</div>

