@{
    ViewBag.Title = "Sobre";
}

<hgroup>
    <h2>Desenvolvedores</h2>
</hgroup>
<div>
    <table class="table">
        <tr>
            <th>RA</th>
            <th>Nome</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>0000000-0</td>
            <td>Alyne da Cruz Barbosa Bartolotto</td>
            <td>alynecbb@outlook.com</td>
        </tr>
        <tr>
            <td>1410019-8</td>
            <td>João Gustavo Reis de Lima</td>
            <td>guto.reisdelima@gmail.com</td>
        </tr>
        <tr>
            <td>0000000-0</td>
            <td>João Otávio Reis de Lima</td>
            <td>tato.jotavio@gmail.com</td>
        </tr>
    </table>
</div>

