@{
    ViewBag.Title = "Index";
}
<div>
        <div style="position: absolute;padding-left:15%;">
            <h1 style="color:#ff7800">Bem vindo</h1>
            <h3 class="lead">Digitalize sua instituição com o Nimbus Acad</h3>
            <p><a href="@Url.Content("~/Content/DocWeb/index.html")" class="btn btn-primary" style="background-color:#6ebc9d; border:none;" target="_blank">Descubra o projeto &raquo;</a></p>
        </div>
    <img style="width:120%; margin-left:-100px; margin-top:-35px;" src="~/Content/DocWeb/img/BannerBG.jpg" />  
</div>
<div style="padding-top:20px;"><h2>Equipe do Projeto</h2></div>
<hr />  
<div style="padding-top:20px;" class="row">
    <div class="col-md-4">
        <dl>
            <h3 style="text-align:center;">Alyne Bartolotto<img style="width:30%;" src="~/Content/DocWeb/img/name.png" /></h3>
            <dd>
               Aluna de ADS da Faculdade de Tecnologia da Baixada Santista desde Janeiro de 2014, hoje cusando o 6º Ciclo do curso. Formada em Logistica, pela UNIP em 2011. Ex-Estagiaria de suporte tecnico da Escola Tecninca Escolastica Rosa. Melhor desempenho em conhecimento de Redes.  
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <h3 style="text-align:center;">João Gustavo<img style="width:30%;" src="~/Content/DocWeb/img/name.png" /></h3>
            <dd>
                Aluno de ADS da Faculdade de Tecnologia da Baixada Santista desde Janeiro de 2014, hoje cusando o 6º Ciclo do curso. Formado em Tecnico de Mecatronica, pela FORTEC. Ex-Estagiario de suporte tecnico da Escola Tecninca Escolastica Rosa. Melhor desempenho em desenvolvimento Back-End.  
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <h3 style="text-align:center;">João Otávio<img style="width:30%;" src="~/Content/DocWeb/img/name.png" /></h3>
            <dd>
                Aluno de ADS da Faculdade de Tecnologia da Baixada Santista desde Janeiro de 2014, hoje cusando o 6º Ciclo do curso. Formado em Tecnico de Mecatronica, pela FORTEC. Ex-Estagiario de suporte tecnico da Escola Tecninca Escolastica Rosa. Melhor desempenho em desenvolvimento Front-End e Web Design.  
            </dd>
        </dl>
    </div>
</div>