
@{
    ViewBag.Title = "ConfirmarEmail";
}

<h2>Confirmar Email</h2>

<div>
    <p>
        Obrigado por confirmar o seu email. Por favor, @Html.ActionLink("cliqeu aqui para logar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>