
@{
    ViewBag.Title = "ConfirmarEmail";
}

<h2>ConfirmarEmail</h2>

<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Cliqeu aqui para logar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>